.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
}

.header {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.upload-section,
.predict-section,
.model-selection-section {
  margin-bottom: 20px;
}

.file-info,
.prediction-label {
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  margin-bottom: 10px;
}

.form-control {
  min-width: 200px;
}
