/* src/themes.css */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --nav-background-color: #007bff;
    --nav-text-color: #ffffff;
  }
  
  [data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --nav-background-color: #333333;
    --nav-text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .nav-bar {
    background-color: var(--nav-background-color);
  }
  
  .nav-bar nav ul li a {
    color: var(--nav-text-color);
  }
  
[data-theme="dark"] .MuiSelect-root,
[data-theme="dark"] .MuiMenuItem-root {
  color: var(--text-color);
  background-color: black; /* Change this to black */
}

[data-theme="dark"] .MuiInputLabel-root{
  color: var(--text-color);
  background: none;
}
[data-theme="dark"] .model-selection-section .form-control .MuiSelect-root {
  color: white;
}
[data-theme="dark"] .MuiInputLabel-root:hover {
  color: #000000;
}

.button-container button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
